
<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

<p>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Full Name" formControlName='name'>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Choose your dates</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName = 'dateFrom'>
      <input matEndDate placeholder="End date" formControlName = 'dateTo'>
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</p>

<p>Total cost: {{ calculateTotalCost() | currency:'INR':'symbol' }}</p>

  <button class="button" type="submit">Purchase</button>
</form>
